.*
**/tsconfig.json
**/prettier.config.js
**/jest.config.js
**/jest.setup.js
**/rollup.config.js
**/rollup.config.prod.js
_*

CODE_OF_CONDUCT.md
CONTRIBUTING.md

.tmp
node_modules
docs
src
integration-tests
logo.png
